// Code generated by Fern. DO NOT EDIT.

package metar

import (
	context "context"
	sdk "sdk"
	core "sdk/core"
	internal "sdk/internal"
	option "sdk/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Most `device/*` routes work identically for METAR (airport) stations by replacing the `device` prefix with `metar`.
//
// METAR station IDs are **ICAO codes** (4 letters), e.g. `EBBR` for Brussels Airport.
//
// **Supported `metar/*` routes (same request/response as their `device/*` counterparts):**
// - `GET /metar/values/{icao}` — current readings
// - `GET /metar/stats?code={icao}` — statistics
// - `GET /metar/wind?code={icao}` — wind rose
// - `GET /metar/info/{icao}` — station metadata
// - `POST /metar/ajaxupdatedate` — last update time
// - `POST /metar/ajaxprofile` — station profile
// - `POST /metar/evolution` — time-series history
//
// > **Not supported for METAR:** `/device/ajaxdevicestats`
func (c *Client) GetValues(
	ctx context.Context,
	request *sdk.GetValuesMetarRequest,
	opts ...option.RequestOption,
) (*sdk.DeviceValues, error) {
	response, err := c.WithRawResponse.GetValues(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
